body{
    color: rgba(255, 121, 32, 0.942);
    font-size:50px;
    background-image:url(assets/image/backgorund.png);
    background-size: cover;
}
h1{
    color: rgba(6, 6, 136, 0.5);
    font-size:90px;
}
caption{
    border: black solid 4px;
}
table{
    border: black solid 4px;
    padding: 0px,50px,0px,50px;
    margin:50px,20px,50px,350px;
}
a{
    color: inherit;
    text-decoration: none;
    margin: 50px 40px 50px 0px;
}
ul{
    list-style-type: none;
    display: flex; 
}
li{
    margin:0px,200px,0px,0px;
}
.table1{
    color:red;
}
.table2{
    color: green;
}
.tableconteiner{
    display: flex;
    justify-content: center;
}
.footer{
    font-size: 50px;
    color:black;
    text-align: center;
}